---
http_interactions:
- request:
    method: patch
    uri: https://api.notifications.codelitt.dev/channel_messages/1630763878.000100
    body:
      encoding: UTF-8
      string: '{"message":"i''m batman","channel":"feed-test-automations","ts":"1630763878.000100"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHENTICATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09a10cb3b1abbd6c390c7120a09cb6ff"
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":"CRXH3U8PK","ts":"1630763878.000100","text":"i''m
        batman","message":{"bot_id":"BSW6NEU5N","type":"message","text":"i''m batman","user":"USYCS7QHL","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"},"edited":{"user":"BSW6NEU5N","ts":"1630765098.000000"}}}'
  recorded_at: Sat, 04 Sep 2021 14:18:35 GMT
- request:
    method: patch
    uri: https://api.notifications.codelitt.dev/channel_messages/1630766885.002600
    body:
      encoding: UTF-8
      string: '{"message":"i''m batman","channel":"feed-test-automations","ts":"1630766885.002600"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHENTICATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"534eff4aee0c3e4955d6a782ce8f9a07"
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":"CRXH3U8PK","ts":"1630766885.002600","text":"i''m
        batman","message":{"bot_id":"BSW6NEU5N","type":"message","text":"i''m batman","user":"USYCS7QHL","team":"T029Q9LHJ","bot_profile":{"id":"BSW6NEU5N","deleted":false,"name":"RoadRunner","updated":1579627251,"app_id":"ASVNL9492","icons":{"image_36":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_36.jpg","image_48":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_48.jpg","image_72":"https://avatars.slack-edge.com/2020-01-20/901740758338_7de919de0c79c2b1b800_72.jpg"},"team_id":"T029Q9LHJ"}}}'
  recorded_at: Sat, 04 Sep 2021 14:48:44 GMT
recorded_with: VCR 6.0.0
