---
http_interactions:
- request:
    method: post
    uri: https://api.roadrunner.codelitt.dev/channel_messages
    body:
      encoding: UTF-8
      string: '{"bot":null,"message":"123","channel":"123","ts":"123","uniq":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHENTICATION_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Sat, 04 Sep 2021 13:45:44 GMT
- request:
    method: post
    uri: https://api.notifications.codelitt.dev/channel_messages
    body:
      encoding: UTF-8
      string: '{"message":"123","channel":"feed-test-automations","ts":null,"uniq":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHENTICATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef8992969eec41268cacfacab2477af5"
    body:
      encoding: ASCII-8BIT
      string: '{"notification_id":"8152"}'
  recorded_at: Sat, 04 Sep 2021 19:05:31 GMT
recorded_with: VCR 6.0.0
