---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.codelitt.dev/direct_messages
    body:
      encoding: UTF-8
      string: '{"message":"123","username":"kaiomagalhaes","uniq":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHENTICATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e607ed6c2ca5371cb46bff5858fb9266"
    body:
      encoding: ASCII-8BIT
      string: '{"notification_id":"8172"}'
  recorded_at: Sat, 04 Sep 2021 19:07:05 GMT
recorded_with: VCR 6.0.0
