---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.codelitt.dev/reactions
    body:
      encoding: UTF-8
      string: '{"reaction":"scream","channel":"feed-test-automations","ts":"1630765245.000700"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTHENTICATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4062edaf750fb8074e7e83e0c9028c94"
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true}'
  recorded_at: Sat, 04 Sep 2021 14:49:49 GMT
recorded_with: VCR 6.0.0
